@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(219, 219, 219);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

canvas {
    border: none;
    background-color: white;
}

.tool-box {
    width: 600px;
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: rgb(194, 194, 194);
}

button {
    font-size: 1.2rem;
}